body{
	margin:5px;
	padding:5px;
	line-height:1.15;
 }
  
 h1,h2, h3{
	font-weight: bold;
	margin-top:15px;
  
 }
 ul li{
	margin-left: 25px;
	list-style-type: upper-roman;
 }
 
 nav li {
	display: inline-block;
	border: 2px solid darkgreen;
	width: 150px;
	height: 40px;
	padding: 5px;
	text-align: center;
	border-radius: 45%;
	background-color: lavender;
 }

 img {
	width: 24%;
	padding: 10px;
	border: 5px #987654;
	border-style: dotted dashed groove double;
	box-sizing: border-box;
 }

 p {
	font-style: oblique;
	font-family: monospace;
	font-size: xx-large;
	border: dotted dodgerblue 10px;
 }

 #abby {
	border: salmon 10px inset;
	font-family: fantasy;
	padding: 100px;
	text-decoration: overline;
 }

.gallery {
	display: grid;
	grid-template-columns: 250px 250px 250px;
	border: solid 10px #000000;
	width: 90%;
	justify-content: space-around;
	justify-items: center;
	align-content: space-around;
	align-items: center;
 }

 .gallery img {
	width: 100%;
	height: 100%;
}

 .gallery img:last-child {
	grid-column-start: 1;
	grid-column-end: 4;
   }
